<div class="row">
  <div class="h-col-lg-4 col-md-4 col-xs-4">
    <div class="image-container">
      <img src="{{ 'assets/images/kaushal.jpg' | relative_url }}" class="rounded img-fluid" height="auto">
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-xs-8">
    <p>
      I am an Assistant Professor in the <a
        href="https://www.usf.edu/engineering/cse/index.aspx">Computer
        Science and Engineering Department</a> at the <a href="https://www.usf.edu/">University of South Florida</a>.
      <strong> I am looking to recruit motivated PhD students to join my lab!</strong> If you are interested in working
      with me, please reach out via email!
    </p>

    <p>
      I completed my PhD in Computer Science from <a href="https://www.wm.edu/as/computerscience"> William & Mary</a> under the advisorship of <a href="http://adwaitnadkarni.com">Prof. Adwait Nadkarni</a>. 
      I was one of the founding members of the Secure Platforms Lab <a href="https://spl-wm.github.io/">(SPL)</a>.
    </p>
    
    <p class="bio-research">
      My research seeks to understand the security and privacy risks in diverse consumer-oriented software systems
      (e.g., Internet-of-things or IoT, Android, Online Political Campaigning) and develop practical solutions to
      identify the threats and automate their prevention. Given the diverse and disjointed nature of these systems, the
      focus of my research is to formulate tractable, consumer-oriented security and privacy research questions, combine
      a range of well-established techniques to analyze and identify the problems, and finally, design and build tools
      to
      prevent such problems.
    </p>
    <p class="bio-research">
      Over my research career, my work has identified and demonstrated novel attacks <em>(CODASPY’19 Best Paper)</em>,
      identified the prevalence of security and privacy threats at a large scale <em>(CCS’22, IEEE S&P’24)</em>, and
      built
      targeted security tools and frameworks <em>(USENIX’18, USENIX’22, CCS’22, IEEE S&P’24)</em>.

      <!-- I am a PhD student in the <a href="https://www.wm.edu/as/computerscience">Department of Computer Science</a> at
      the College of William and Mary, being advised by <a href="http://adwaitnadkarni.com">Prof. Adwait Nadkarni</a>.
      My research
      interests lie in analyzing security policies employed in modern operating systems as well as designing security
      frameworks that enforces such policies. I work at the <a href="https://spl-wm.github.io/">Secure Platforms Lab
        (SPL)</a> at
      William & Mary, where currently, I am involved in identifying and analyzing security problems in smart home
      platforms and devices, especially concerning home automation. -->
    </p>
    <!-- <p class="immediate">
      <strong>I am joining the !</strong>
    </p> -->
  </div>
</div>