<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4">
    <div class="image-container">
      <img src="{{ '/assets/images/kaushal.jpg' | relative_url }}" class="rounded img-fluid" height="auto">
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-xs-8">
    <p>
      I am a PhD student in the <a href="https://www.wm.edu/as/computerscience">Department of Computer Science</a> at the College of William and Mary, being advised by <a href="http://adwaitnadkarni.com">Prof. Adwait Nadkarni</a>. My research
      interests lie in analyzing security policies employed in modern operating systems as well as designing security frameworks that enforces such policies. I work at the <a href="https://spl-wm.github.io/">Secure Platforms Lab (SPL)</a> at
      William & Mary, where currently, I am involved in identifying and analyzing security problems in smart home platforms and devices, especially concerning home automation.
    </p>
  </div>
</div>
