<div class="container recent-news">
  <h2>Recent Highlights</h2>
  <ul>
    <li><strong>August 10, 2021: </strong> Our paper, <em>Why Crypto-detectors Fail: A Systematic Evaluation of Cryptographic Misuse Detection Techniques</em> has been accepted for publication at the IEEE Symposium on Security and Privacy 2022! [<a
      href="{{ 'assets/pdf/ami-oakland22.pdf' | relative_url }}" target="_blank">pdf</a>] </li>
    <li><strong> January 21, 2021:</strong> Our paper, <em>Demo: Mutation-based Evaluation of Security-focused Static Analysis Tools for Android.</em>, has been accepted to the Tool Demo Track at ICSE'21! (<a href="https://conf.researchr.org/track/icse-2021/icse-2021-Demonstrations" target="_blank">ICSE'21 Demonstrations</a>) </li>
    <li><strong> November 24, 2020:</strong> Our paper, <em>Systematic Mutation-based Evaluation of the Soundness of Security-focused Android Static Analysis Techniques.</em>, has been accepted to the ACM Transactions on Privacy and Security! (<a href="https://dl.acm.org/journal/tops" target="_blank"> TOPS</a>) </li>
    <li><strong> July 2, 2020:</strong> Our paper, <em>Security in Centralized Data Store-based Home Automation Platforms: A Systematic Analysis of Nest and Hue,</em> has been accepted to the ACM Transactions on Cyber Physical Systems, special issue on Security and Privacy for Connected CPS (<a href="https://dl.acm.org/journal/tcps" target="_blank">TCPS</a>)!</li>
    <li><strong> January 15, 2020:</strong> Our paper titled 'Towards a Natural Perspective of Smart Homes for Practical Security and Safety Analyses' has been accepted for publication at IEEE Symposium on Security and Privacy (S&P) 2020! </li>
    <li><strong> March 26, 2019:</strong> Our paper 'A Study of Data Store-based Home Automation' has won the <a href="{{ 'assets/images/CODASPY19-BPA.jpg' | relative_url }}" target="_blank"><strong>best paper award</strong></a> in <a href="http://www.codaspy.org/2019/awards.html"
        target="_blank">CODASPY'19!</a> </li>
    <li><strong> December 28, 2018:</strong> Our recent work on smart home security got covered in the <a href="{{ '/publications#press' | relative_url }}"> press!</a></li>
    <li><strong> November 27, 2018:</strong> Our paper titled 'A Study of Data Store-based Home Automation' got accepted to 9th ACM Conference on Data and Application Security and Privacy! [<a
        href="{{ 'assets/pdf/kafle-codaspy19.pdf' | relative_url }}" target="_blank">pdf</a>] </li>
  </ul>
</div>
