<div class="container recent-news">
  <h2>Recent Highlights</h2>
  <ul>
    <li> <strong> April 17, 2023: </strong> Won the <a href="https://twitter.com/cyber_cci/status/1648787197322223616"
        target="_blank">best poster award</a> at the CCI Symposium 2023!
    </li>
    <li><strong>April 17, 2023: </strong> Presented a poster on the privacy practices of election campaign websites at
      the <a href="https://cyberinitiative.org/events-programs/2023/cci-symposium-2023.html" target="_blank"> CCI
        Symposium
      </a>.
    </li>
    <li><strong>April 3, 2023: </strong>I have been selected as the <strong>2023 Commonwealth of Virginia Engineering
        and Science
        (<a href="https://www.vasem.org/coves-fellowship-program" target="_blank">COVES</a>) Policy Fellow</strong>!
      Work begins at the end of May.
    </li>
    <li><strong>August 26, 2022: </strong>Our paper, <em>Understanding IoT Security from a Market-Scale Perspective</em>
      has been accepted to the ACM Conference on Computer and Communications Security (CCS) 2022!
    </li>
    <li><strong>August 12, 2022: </strong> Completed internship at IBM Research.
    </li>
    <li><strong>May 23, 2022: </strong> I started as a <em>Security and Privacy Grad Intern</em> at IBM Research.
    </li>
    <li><strong>April 4, 2022: </strong> Presented a poster on smart home privacy policies with <a
        href="https://sunil.pages.wm.edu/" target="_blank">Sunil Manandhar</a> at the <a
        href="https://cyberinitiative.org/events-programs/2022/2022-cci-symposium.html" target="_blank"> CCI Symposium
      </a>.
    </li>
    <li><strong>March 15, 2022: </strong> Our paper, <em>Smart Home Privacy Policies Demystified: A Study of
        Availability, Content, and Coverage</em> has been accepted for publication in USENIX'22!
    </li>
    <li><strong>October 21, 2021: </strong> I was part of the <a href="https://play.acast.com/s/which-investigates/"
        target="_blank">Which? Investigates</a> podcast titled <em>'How hackable is your home?'</em>! Listen to the
      episode <a href="https://play.acast.com/s/which-investigates/howhackableisyourhome-" target="_blank">here</a>.
    </li>
    <li><a href="{{ '/news' | relative_url }}"> ... full list </a></li>
  </ul>
</div>