.other-publication, .news-coverage{
  border-top: 2px solid #e8e8e8;
  padding-top: 15px;
}

.publication-list{
  font-family: Roboto;
}

.paper-title{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1em;
  color: #2c4060;
}

.paper-metadata li{
  list-style: square;
}

.paper-venue, .paper-special-note{
  font-style: italic;
}

.full-bib pre{
  padding: 10px;
  font-family: courier;
  background-color: #eaeaea;
}

.bib-collapsible{
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.1em;
  color: #000;
  width: 65px;
  background-color: #e4e7e8;
  vertical-align: middle;
}

.bib-collapsible:hover {
  background-color: #545b62;
}

.bib-button-content {
  display: none;
  overflow: hidden;
}

.paper-entry{
  padding-bottom: 10px;
}

.news-coverage p{
  font-size: 1.1em;
}
